* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.big_container {
	max-width: 100%;
	margin: 0 auto;
}

.clearfix:after {
	display: table;
	content: '';
	clear: both;
}

.list-reset {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

.header {
	padding-top: 25px;
}

.header_inner_1 {
	background-color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.logo {
	width: 140px;
}

.logo a {
	display: block;
}

.logo img {
	width: 100%;
	height: auto;
}

.contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.help {
	padding-right: 50px;
}

@media (max-width: 576px){
	.help {
		padding-top: 10px;
	}
}

.help .need_help {
	font-family: 'Roboto Regular', sans-serif;
	font-size: 15px;
	color: #e74c3c;
	text-decoration: none;
}

.talk_to {
	font-family: 'Roboto Regular', sans-serif;
	font-size: 15px;
	color: #546e7a;
	
}

.talk_to a {
	font-family: 'Roboto Regular', sans-serif;
	font-size: 15px;
	color: #546e7a;
	text-decoration: none;
}

.header_icons {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #f5f5f5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}

.bell {
	padding-right: 25px;
}

.bell_icon {
	width: 16px;
	height: 14px;
	background-image: url("../images/header_bell.png");
	background-repeat: no-repeat;
}

 
.counter_bell {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #fcb322;
	position: absolute;
	z-index: 1;
	color: #ffffff;
	text-align: center;
	bottom:23px;
	left: 26px;
}

.envelope {
	padding-right: 25px;
}

.envelope_icon {
	width: 16px;
	height: 14px;
	background-image: url("../images/header_envelope.png");
	background-repeat: no-repeat;
}

 
.counter_envelope {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #ef6c00;
	position: absolute;
	z-index: 1;
	color: #ffffff;
	text-align: center;
	bottom:23px;
	left: 26px;
}

.basket {
	padding-right: 25px;
}


.basket_icon {
	width: 16px;
	height: 14px;
	background-image: url("../images/basket_header.png");
	background-repeat: no-repeat;
}

 
.counter_basket {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #e74c3c;
	position: absolute;
	z-index: 1;
	color: #ffffff;
	text-align: center;
	bottom:23px;
	left: 26px;
}

.header_image {
	margin-right: 15px;
}

.header_image .header_icons {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #b5b5b5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}

.header_select select {
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	overflow-y: hidden;
}

.header_select option {
	padding-bottom: 2px;
}

.header_select_arrow {
	height:10px;
	width:10px;
	background: url("../images/header_select.png");
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 85px;
	margin-top: -30px;
}

.btn_header {
	padding: 10px 20px;
	-webkit-transition: .3s;
	transition: .3s;
	letter-spacing: 0.2em;
	border-radius: 10px;
	margin-right: 10px;
}

.btn_header a {
	text-decoration: none;
	font-family: 'Robot Regular', sans-serif;
	font-size: 12px;
	color: #ffffff;
}

.btn_header-login {
	background-color: #8bc34a;
}

@media (max-width: 576px){
	.btn_header-login {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}

.btn_header-login:hover {
	background-color: #669036;
	color: #ffffff;
}

.btn_header-register {
	background-color: #e74c3c;
	margin-left: 25px;
}

@media (max-width: 576px){
	.btn_header-register {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		margin-top: 10px;
	}
}

.btn_header-register:hover {
	background-color: #98433a;
}
	
.header_inner_2 {
	background-color: #263238;
	
}

.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.menu_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media (max-width: 768px){
	.menu_list {
		display: block;
		text-align: center;
	}

	.menu {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		top: 40%;
		border-top: 1px solid #fff;
		background-color: #263238;
		padding: 10px 0;
		display: none;
	}

	.menu.open {
		display: block;
	}
}

@media (max-width: 576px){
	
	.menu {
		top: 50%;
	}

}

@media (max-width: 320px){
	
	.menu {
		top: 65%;
	}

}

.menu_list li {
	padding: 25px 20px;
}

.menu_list a {
	text-decoration: none;
	color: #ffffff;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

@media (max-width: 768px) {
	.menu_list a {
		display: block;
		font-size: 16px;
	}

	.menu_list li {
		padding: 10px 0;
	}
}

.menu_list a:hover {
	color: #cbc0c0;
}



.toggle-menu {
	display: none;
	width: 50px;
}

@media (max-width: 768px) {
	.toggle-menu {
		padding: 10px 0;
		display: block;
	}
}


.toggle-menu:before {
	display: block;
	content: '';
	height: 2px;
	background-color: #fff;
}

.toggle-menu:after {
	display: block;
	content: '';
	height: 2px;
	background-color: #fff;
}

.toggle-menu span {
	display: block;
	height: 2px;
	background-color: #fff;
	margin: 6px 0; 
}



.banner {
	text-align: center;
	background: url("../images/banner.png") no-repeat center;
	background-size: cover;
	min-height: 530px;
	padding: 25px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.banner.banner-small {
	min-height: 230px;
}

@media (max-width: 768px){
	.banner {
		width: 100%;
	}
}

.banner h1 {
	margin: 0;
	margin-bottom: 30px;
	font-family: 'Roboto Bold', sans-serif;
	font-size: 48px;
	text-transform: capitalize;
	color: #ffffff;
}

.banner span {
	font-family: 'Roboto Medium', sans-serif;
	font-size: 20px;
	text-transform: capitalize;
	color: #ffffff;
}



.banner form {
	margin-top: 60px;
}

.banner input {
	width: 100%;
	border: 2px solid #919f81;
	border-radius: 4px;
	background-color: #ffffff;
	background-image: url("../images/search.png");
	background-position: 98% center;
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

@media (max-width: 576px){
	.banner h1 {
		font-size: 30px;
	}

	.banner span {
		font-size: 15px;
	}

	.banner input {
		width: 80%;
	}
}

@media (max-width: 480px){
	.banner h1 {
		font-size: 25px;
	}

	.banner span {
		font-size: 13px;
	}

	.banner input {
		width: 70%;
	}
}

@media (max-width: 320px){
	.banner h1 {
		font-size: 18px;
	}

	.banner span {
		font-size: 12px;
	}

	.banner input {
		padding-left: 10px;
	}
}

::-webkit-input-placeholder {
    text-transform: capitalize;
	color:#90a4ae;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
}

.popup_overlay{
  display: none;
  background: rgba(0,0,0,.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.popup{
  z-index: 100;
  display: none;
  background: #8bc34a;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  width: 600px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -250px;
}
.popup_title{
  font-weight: bold;
  padding: 10px;
}

.popup_title .popup_header {
	font-family: 'Roboto Bold', sans-serif;
	font-size: 48px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}
.popup_content{
  padding: 10px;
}

.closer{
  float: right;
  cursor: pointer;
  width: 16px;
  height: 14px;
  background-image: url("../images/popup_close.png");
  background-repeat: no-repeat; 
}


.popup_name{
	width: 80%;
	display: block;
	background-color: #76ae36;
	background-image: url("../images/popup_name.png");
	background-position: 5% center;
	background-repeat: no-repeat;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	margin-left: auto;
	margin-right: auto;
	}

.popup_password{
	width: 80%;
	display: block;
	background-color: #76ae36;
	background-image: url("../images/popup_pass.png");
	background-position: 5% center;
	background-repeat: no-repeat;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	}

::-webkit-input-placeholder {
    text-transform: capitalize;
	color: #dae9c9;
	font-family: 'Roboto Regular', sans-serif;
	font-size: 14px;
	padding-left: 40px;
}

.popup_submit {
	height: 48px;
	width: 140px;
	background-color: #ffffff;
	color: #000;
	font-family: 'Roboto Bold', sans-serif;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	margin-left: 60px;
	cursor: pointer;
}

.popup_create {
	width: 55%;
	background-color: #76ae36;
	background-image: url("../images/popup_create.png");
	background-position: 15% center;
	background-repeat: no-repeat;
	padding-top: 13px;
	padding-bottom: 15px;
	border: 0;
	font-family: 'Roboto Regular', sans-serif;
	font-size: 18px;
	text-transform: capitalize;
	color: #fff;
	margin-top: 20px;
	cursor: pointer;
}

.popup_link {
	margin-top: 25px;
	margin-left: 60px;
}

.popup_link a {
	text-decoration: none;
	font-family: 'Roboto Regular', sans-serif;
	font-size: 18px;
	text-transform: capitalize;
	color: #fff;
}


