/*
=======================================
	BASE
=======================================
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
}
img {
    width: 100%;
    height: auto;
}
.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row-about {
    margin-left: -45px;
    margin-right:-45px;
}

.clearfix:after {
    display: table;
    content: '';
    clear: both;
}

.list-reset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
/* ---------footer ---------- */
.foo-footer {
    background-color: #263238;
}

.col3{
    float: left;
    width: 25%;
}

.card-about {
    padding: 0 40px;
    color: white;
}

.card-about h3 {
    margin: 0;
}

.card-about h3:after {
    margin:28px 0;
    width: 51px;
    content: '';
    display: block;
    height: 2px;
    background-color: #8bc34a;
}

.icons {
    display: inline-block;
    margin-right: 20px;
    width: 15px;
    height: 20px;
}

.arrow {
    margin-right: 15px;
    width: 10px;
    height: 10px;
    background: url(../images/angle-arrow-pointing-to-right.svg) no-repeat;
    background-size: contain;
}
.services {
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.services a {
    text-decoration: none;
    color: white;
}
.services p {
    margin: 0;
    color: #b7c3c8;
}

.services address {
    font-style: inherit;
    color: white;
}

.points a  {
    text-decoration: none;
    color: #b7c3c8;
}
.social-icons {
    padding-bottom: 40px;
}

.social-icons li {
    margin-right: 5px;
    width: 28px;
    height: 28px;
    float: left;
}

.social-icons li:nth-child(1){
    background: url(../images/FB.jpg) no-repeat;
    background-size: contain;
}
.social-icons li:nth-child(2){
    background: url(../images/tw.jpg) no-repeat;
    background-size: contain;
}
.social-icons li:nth-child(3){
    background: url(../images/yt.jpg) no-repeat;
    background-size: contain;
}
.social-icons li:nth-child(4){
    background: url(../images/pn.jpg) no-repeat;
    background-size: contain;
}
.social-icons li:nth-child(5){
    background: url(../images/in.jpg) no-repeat;
    background-size: contain;
}

.Newsletter  {
    letter-spacing: 1.5px;
}

.Newsletter form {
    padding-top:20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sent {
    font-size: 0px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 0;
}

.bottom {
    border-top: 1px solid #6e7478;
    color: #6e7478;
    font-size: 11px;
    padding-top: 28px;
    text-align: center;
    padding-bottom: 35px;
}
/* ---------- END ---------- */
